<%= form_with model: [ post, comment ] do |form| %>
  <div class="flex items-center px-4 py-3">
    <%= image_tag current_user.avatar.variant(:thumb), class: "w-8 h-8 rounded-full" if current_user.avatar.attached? %>
    <div class="w-full ml-3">
      <span class= "block"><%= form.text_area :body, class: "textarea textarea-bordered w-full" %></span>
      <span class= "block"><%= form.submit "Post comment", class: "btn btn-sm btn-secondary" %></span>
    </div>
  </div>
<% end %>
