<p style="color: green"><%= notice %></p>

<%= render @post %>

<p class="mb-6 text-lg font-normal text-gray-800 lg:text-xl sm:px-2 xl:px-6 ">Comments</p>
<%= render @post.comments %>

<%= render 'comments/form', post: @post, comment: @comment %>
